<h1><%= @event.name %></h1>

<div class="actions">
  <%= link_to timeline_path(@timeline), class: 'icon-link' do %>
    <i class="fas fa-arrow-left"></i> <%= t('actions.back_to_timeline') %>
  <% end %> |
  <%= link_to t('actions.edit_event'), edit_timeline_event_path(@timeline, @event) %>
</div>

<p>
  <strong><%= t('labels.name') %>:</strong>
  <%= @event.name %>
</p>

<p>
  <strong><%= t('labels.description') %>:</strong>
  <%= @event.description %>
</p>

<p>
  <strong><%= t('labels.start_date') %>:</strong>
  <%= l(@event.start_date, format: :short) if @event.start_date %>
</p>

<p>
  <strong><%= t('labels.end_date') %>:</strong>
  <%= @event.end_date ? l(@event.end_date, format: :short) : t('labels.ongoing') %>
</p> 