<%= form_with(model: timeline, local: true) do |form| %>
  <%= render 'shared/form_errors', resource: timeline, resource_name: 'timeline' %>

  <div class="field mb-3">
    <%= form.label :name, t('labels.timeline_name'), class: "form-label" %>
    <%= form.text_field :name, class: "form-control #{'is-invalid' if timeline.errors[:name].any?}" %>
  </div>

  <div class="actions">
    <%= form.submit timeline.new_record? ? t('form.submit.timeline') : t('form.submit.timeline_update'), class: 'btn btn-primary my-2' %>
    <%= render 'shared/form_separator' %>
    <%= render 'shared/cancel_link',
               text_key: 'actions.cancel_timeline_creation',
               path: timelines_path %>
  </div>
<% end %>

