<%= form_with(model: timeline, local: true) do |form| %>
  <% if timeline.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(timeline.errors.count, "error") %> <%= t('messages.timeline_errors') %></h4>
      <ul class="mb-0">
        <% timeline.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name, t('labels.timeline_name'), class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit timeline.new_record? ? t('form.submit.timeline') : t('form.submit.timeline_update'), class: 'btn btn-primary' %>
    <%= render 'shared/form_separator' %>
    <%= render 'shared/cancel_link',
               text_key: 'actions.cancel_timeline_creation',
               path: timelines_path %>
  </div>
<% end %>

