<p id="notice"><%= notice %></p>

<h1><%= t('titles.timelines') %></h1>

<div class="actions">
  <%= link_to new_timeline_path, class: 'icon-link' do %>
    <i class="fas fa-plus"></i> <%= t('titles.new_timeline') %>
  <% end %>
</div>

<div class="grid">
  <div class="header">
    <div><%= t('labels.name') %></div>
    <div></div>
    <div></div>
  </div>

  <% @timelines.each do |timeline| %>
    <div class="row">
      <div><%= link_to "#{timeline.name} (#{timeline.events.count} #{t('events_count', count: timeline.events.count)})", timeline %></div>
      <div><%= link_to edit_timeline_path(timeline), class: 'icon-link icon-edit' do %>
        <i class="fas fa-edit"></i>
      <% end %></div>
      <div><%= link_to timeline, 
              method: :delete,
              class: 'icon-link icon-delete',
              data: { confirm: t('messages.confirm') } do %>
        <i class="fas fa-trash"></i>
      <% end %></div>
    </div>
  <% end %>
</div>
