<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12">
      <%= render 'shared/flash_messages' %>
      
      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-top mb-4">
        <h1 class="mb-34 mb-sm-0"><%= t('titles.timelines') %></h1>

        <div class="actions">
          <%= link_to new_timeline_path, class: 'btn btn-primary' do %>
            <i class="fas fa-plus me-1"></i><%= t('titles.new_timeline') %>
          <% end %>
        </div>
      </div>

      <div class="table-responsive">
        <style>
          .btn-link:hover .fa-edit {
            color: var(--bs-link-color) !important;
          }
          .btn-link {
            text-decoration: none;
          }
          .btn-link:hover {
            text-decoration: none;
          }
          .fa-edit {
            font-weight: 600;
          }
        </style>
        <table class="table align-middle">
          <tbody>
            <% @timelines.each do |timeline| %>
              <tr class="py-3 border-top-0">
                <td class="py-3 position-relative" colspan="2">
                  <%= link_to timeline_path(timeline), class: "d-block text-break stretched-link" do %>
                    <div class="d-flex align-items-center justify-content-between">
                      <strong><%= timeline.name %></strong>
                      <span class="badge bg-light text-secondary ms-3">
                        <%= timeline.events.count %> <%= t('events_count', count: timeline.events.count) %>
                      </span>
                    </div>
                  <% end %>
                </td>
                <td class="text-end p-0 position-relative">
                  <%= link_to edit_timeline_path(timeline), 
                            class: 'btn btn-link btn-sm d-flex align-items-center justify-content-center w-100 h-100 px-4 py-3',
                            style: 'min-height: 100%',
                            title: t('actions.edit') do %>
                    <i class="fas fa-edit text-secondary"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
