<p id="notice"><%= notice %></p>

<h1><%= t('titles.timelines') %></h1>

<div class="actions">
  <%= link_to new_timeline_path, class: 'btn btn-primary text-white' do %>
    <i class="fas fa-plus"></i> <%= t('titles.new_timeline') %>
  <% end %>
</div>

<div class="grid">
  <div class="header">
    <div><%= t('labels.name') %></div>
    <div></div>
    <div></div>
  </div>

  <% @timelines.each do |timeline| %>
    <div class="row">
      <div>
        <%= link_to timeline_path(timeline) do %>
          <strong><%= timeline.name %></strong> (<%= timeline.events.count %> <%= t('events_count', count: timeline.events.count) %>)
        <% end %>
      </div>
      <div><%= link_to edit_timeline_path(timeline), class: 'icon-link icon-edit' do %>
        <i class="fas fa-edit"></i>
      <% end %></div>
      <div><%= link_to timeline, 
              data: { 
                turbo_method: :delete,
                turbo_confirm: t('messages.confirm')
              },
              class: 'icon-link icon-delete' do %>
        <i class="fas fa-trash"></i>
      <% end %></div>
    </div>
  <% end %>
</div>
