<p id="notice"><%= notice %></p>

<h1>Timeline "<%= @timeline.name %>"</h1>

<div class="actions">
  <%= link_to timelines_path, class: 'icon-link' do %>
    <i class="fas fa-arrow-left"></i> <%= t('actions.back_to_timelines') %>
  <% end %> |
  <%= link_to t('actions.edit_timeline'), edit_timeline_path(@timeline) %> |
  <%= link_to t('actions.add_event'), new_timeline_event_path(@timeline) %>
</div>

<div class="events">
  <% if @timeline.events.any? %>
    <div class="grid">
      <div class="header">
        <div>#</div>
        <div><%= t('labels.name') %></div>
        <div><%= t('labels.start_date') %></div>
        <div><%= t('labels.end_date') %></div>
        <div><%= t('labels.description') %></div>
        <div></div>
        <div></div>
      </div>

      <% @ordered_events.each do |event| %>
        <div class="row">
          <div><%= @events_by_creation[event.id] %></div>
          <div><%= link_to event.name, timeline_event_path(@timeline, event), style: "color: #{event.color};" %></div>
          <div><%= l(event.start_date, format: :short) if event.start_date %></div>
          <div><%= event.end_date ? l(event.end_date, format: :short) : t('labels.ongoing') %></div>
          <div><%= event.description %></div>
          <div><%= link_to edit_timeline_event_path(@timeline, event), class: 'icon-link icon-edit' do %>
            <i class="fas fa-edit"></i>
          <% end %></div>
          <div><%= link_to timeline_event_path(@timeline, event), 
                  data: { 
                    turbo_method: :delete,
                    turbo_confirm: t('messages.confirm')
                  },
                  class: 'icon-link icon-delete' do %>
            <i class="fas fa-trash"></i>
          <% end %></div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p><%= t('messages.no_events') %></p>
  <% end %>
</div>
