<%= form_with(model: [@timeline, event], local: true, html: { class: 'events-form' }) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t('labels.name') %>
    <%= form.text_field :name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= form.label :description, t('labels.description') %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_date, t('labels.start_date') %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date, t('labels.end_date') %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field color-picker">
    <%= form.label :color, t('labels.color') %>
    <%= form.color_field :color, value: event.color %>
  </div>

  <div class="actions">
    <%= form.submit t('actions.update_event'), class: 'button' %>
  </div>
<% end %>
