<p id="notice"><%= notice %></p>

<h1 style="color: <%= @event.color %>;"><%= @event.name %></h1>

<div class="actions">
  <i class="fas fa-arrow-left"> </i> <%= link_to t('actions.back_to_timeline'), timeline_path(@timeline) %> |
  <%= link_to t('actions.edit'), edit_timeline_event_path(@timeline, @event) %>
</div>

<p>
  <strong><%= t('labels.description') %>:</strong>
  <%= @event.description %>
</p>

<p>
  <strong><%= t('labels.start_date') %>:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong><%= t('labels.end_date') %>:</strong>
  <%= @event.end_date %>
</p>